# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sw?

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio Code
.vscode/
*.code-workspace

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates 